.test{
    text-align: center;
    &__inner{
        background-color: red;
    }
    &__wrapper{
        font-size: 18px;
    }
    padding-top: 150px;
    margin-bottom: 45px;
}
h1{
    padding-top: 48px;
    font-size: 48px;
    color: gray;
    background-color: green;
}
body{
    padding-top: 250px;
    display: flex;
}